.vscode/

# Ignore target directory and its contents
/target/

# Ignore compiled Java class files
**/*.class

# Ignore Maven build files
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/release.properties

# Ignore build-related files
**/*.jar
**/*.jar.original
**/maven-archiver/
**/maven-status/
**/surefire-reports/